<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div ng-repeat="def in topRated">
        <!--<div class="panel panel-default">-->
          <!--<div class="panel-heading">-->
            <!--<b><a ui-sref="app.word({word: def.word.word})">{{def.word.word}}</a></b>-->
          <!--</div>-->
          <!--<div class="panel-body">-->
            <!--<div class="col-xs-9">-->
              <!--{{def.wordDef}}-->
              <!--<br>-->
              <!--<i class="example">{{def.example}}</i>-->
            <!--</div>-->
            <!--<div class="col-xs-3">-->
              <!--<button type="button" class="btn btn-success btn-xs" ng-click="upvote(def._id, $index)">upvote</button>-->
              <!--<button type="button" class="btn btn-danger btn-xs" ng-click="downvote(def._id, $index)">downvote</button>-->
              <!--<h4>rating: {{def.rating}}</h4>-->
              <!--tags:-->
              <!--<span ng-repeat="tag in def.tags">-->
                <!--{{tag}}-->
              <!--</span>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <worddef></worddef>
      </div>
    </div>
  </div>
</div>
